body{
    top: 0px;
    margin: 0;
}
.TheNavigationBar{
    width: 100%;
    height: 50px;
    background-color: #222222;
    border-radius: 2px;
}
a{
    text-decoration: none;
}
.navBarDivWebName{/*网站名导航块*/
    width: 100px;
    height: 50px;
    background: #222222;
    display: inline-block;
    text-align: center;
    overflow: hidden;
}
.navBarDivWebName a{
    position: relative;
    top: 15px;
}
.webNameTitle{
     color: #9d9d9d;
 }
.webNameTitle:hover{
    color: #FFF;
}
.navBarDiv a{
    position: relative;
    top: 15px;
}
.navBarDiv{/*导航块*/
    width: 70px;
    height: 50px;
    background: #222222;
    display: inline-block;
    text-align: center;
    overflow: hidden;
}
.navBarDiv a{
    color: #9d9d9d;
}
.navBarDivWebName+div,.navBarDivWebName+div a{
    background: #080808;
    color: #FFFFFF;
}
.navBarDiv:hover{/*鼠标悬浮时的导航块*/
    background: #080808;
}
.navBarDiv:hover a{/*鼠标悬浮时的导航块*/
    color: #FFFFFF;
}
.TheNavigationBar .LoginRegistNav{
    display: inline-block;
    position: absolute;
    right: 0;
}
